﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

#processDataBtn {
    display: inline;
}

#settings {
    padding-bottom: 15px;
    padding-top: 10px;
    width: 500px;
    display: block;
}

#messageType {
    padding-bottom: 8px;
}
#fileOption {
    padding-top: 8px;
}

#feedback {
    padding-top: 8px;
}

#deidentifyDiv {
    display: block;
}