﻿<!-- ko with: home -->
<h2>Test your data's compatibility with Streamline Health's eValuator</h2>
@*<h3>File may be in HL7 or Pipe Delimited format.</h3>*@
<h4>eValidator finds missing data and suggests a format for it</h4>

<div>
    <input id="HL7InputFile" type="file" />
    
</div>

<div id="settings">
    <div id="messageType">
        <input type="radio" name="messageTypeRadio" value="0" checked/> HL7
        <input type="radio" name="messageTypeRadio" value="1" /> Pipe Delimited
    </div>
    <div id="patientType">
        <input type="radio" name="patientTypeRadio" value="2" checked/> Inpatient
        <input type="radio" name="patientTypeRadio" value="3" /> Outpatient/Profee
    </div>
    <div id="fileOption">
        <div id="deidentifyDiv"><input type="checkbox" name="deidentify" id="deidentify" /> Check this box to de-identify PHI if you are using real data.</div>
        <input type="checkbox" name="receiveOutputFile" id="receiveOutputFile" /> Check this box to receive a detailed Excel spreadsheet of the diagnostic.
    </div>
</div>

<button id="processDataBtn" onclick="handleFileSelect()">Process Data</button>

<div id="feedback"></div>

<!-- /ko -->
